<div class="container text-center custom-margin">
    <div class="row">
        <div class="col-11 col-sm-11 col-md-11 col-lg-7">
            <h1 class="text-white p-3">Mis Ajustes</h1>


            <div class="card card-settings align-items-center">
                <div class="m-4">
                    <h4 class="text-white">Widgets</h4>
                    <div class="row">
                        <form [formGroup]="settingsForm" (submit)="guardarAjustes()">

                            <div class="btn-group m-2">
                                <div class="m-2">
                                    <input type="checkbox" class="btn-check" id="btncheck" formControlName="wClock">
                                    <label class="btn btn-outline-warning " for="btncheck">
                                        <span>Reloj</span>
                                        <br>
                                        <img src="assets/reloj.png" class="img-fluid"
                                            style="min-height: 5px;min-width: 5px;">
                                    </label>
                                </div>

                                <div class="m-2">
                                    <input type="checkbox" class="btn-check" id="btncheck2" formControlName="wWeather">
                                    <label class="btn btn-outline-warning" for="btncheck2">
                                        <span>Clima</span>
                                        <br>
                                        <img src="assets/clima.png" class="img-fluid"
                                            style="min-height: 5px;min-width: 5px;">
                                    </label>
                                </div>

                            </div>
                            <div class="my-4">
                                <p class="text-white">
                                    *Los Widgets Iluminados son los Activos
                                    Actualmente
                                    <br>
                                    *Los Widgets sólo son Visibles en Pantallas
                                    Grandes 
                                </p>

                            </div>
                            <h4 class="text-white">Ajustes de Zona</h4>
                            <div class="m-4">
                                <label class="form-label">Ciudad</label>
                                <input type="text" class="form-control" placeholder="Ingrese una Ciudad"
                                    formControlName="ciudad">

                            </div>

                            <div class="m-4">
                                <label class="form-label">País</label>
                                <input type="text" class="form-control" placeholder="Ingrese un País"
                                    formControlName="pais">

                            </div>

                            <p class="text-white">
                                *La Ciudad y País se tomarán en cuenta para los Widgets
                            </p>

                            @if (!saving) {
                            <button class="btn btn-primary m-2" type="submit">Guardar</button>
                            }@else{
                            <button class="btn btn-primary m-2" type="submit" disabled>Guardando...</button>
                            }

                        </form>

                    </div>

                </div>
            </div>
            <div id="toastSave"
                class="toast align-items-center text-bg-success position-fixed top-0 start-50 translate-middle-x"
                role="alert">
                <div class="d-flex">
                    <div class="toast-body">
                        <strong>Configuración Guardada</strong>
                    </div>
                </div>
            </div>

        </div>
    </div>