<header class="navbar bg-secondary fixed-top d-md-none">
    <div class="container p-1 justify-content-center">
        <a class="navbar-brand fs-2 text-light" routerLink="/home">
            <img src="/assets/logo.gif" class="img-fluid" alt="Logo" style="max-height: 30px;" />
            <span class="ms-2">MyDesk</span>
        </a>
    </div>
</header>


<nav class="navbar bg-secondary fixed-bottom d-md-none">
    <div class="container justify-content-around">
        <button type="button" class="btn prim-btn" routerLink="/home">
            <img src="/assets/note.svg" class="icon">
            <p class="text-light">Mis Notas</p>
        </button>
        <button type="button" class="btn prim-btn" routerLink="/perfil">
            <img src="/assets/user.svg" class="icon">
            <p class="text-light">Perfil</p>
        </button>
        <button type="button" class="btn prim-btn" routerLink="/ajustes">
            <img src="/assets/settings.svg" class="icon">
            <p class="text-light">Ajustes</p>
        </button>
    </div>
</nav>