body {
    background: #7B93B4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

@media  (max-width: 767px) {
    .mob {
        margin-top: 15%;
    }
}
