<div class="container text-center pt-5">

    <!-- Mensaje para Validaciones -->

    <div class="card p-5 mx-auto align-items-center">
        <h2 class="p-4">Registro de Usuario</h2>
        <form class="m-2" [formGroup]="registerForm" (submit)="registro()">
            <div class="m-4">
                <label for="validationCustom03" class="form-label">Correo</label>
                <input type="text" class="form-control" formControlName="email">
            </div>

            <div class="m-4">
                <label for="validationCustom05" class="form-label">Contraseña</label>
                <input type="text" class="form-control" formControlName="pass">

            </div>
            <div>
                <button class="btn btn-primary m-2" type="submit">Registrarse</button>
            </div>
            <br>
            <p>Ya tienes Cuenta? <a [routerLink]="['']">Ingresa</a></p>
        </form>

        <div class="toast-container position-fixed top-0 p-3">
            <div id="liveToast" class="toast" role="alert">

                <div class="toast-body bg-success-subtl">
                    <strong>Usuario Registrado con Éxito</strong>
                </div>
            </div>
        </div>
    </div>