header nav,
footer nav {
    background: var(--nav-color);
}

.prim-btn {
    background: var(--prim-btn-color);

}

.prim-btn:hover {
    background: var(--prim-btn-h);

}

.sec-btn {
    background: var(--sec-btn-color);

}

.sec-btn:hover {
    background: var(--sec-btn-h);
}

.tert-btn {
    background: var(--tert-btn-color);
}

.tert-btn:hover {
    background: var(--tert-btn-h);
}

.main-card {
    background: var(--nav-color);
}

body {
    --primary-color: #7B93B4;
    --nav-color: #9F9CAC;
    --prim-btn-color: #6A7D99;
    --prim-btn-h: #5A6C84;
    --sec-btn-color: #6A8AB9;
    --sec-btn-h: #5681A4;
    --tert-btn-color: #E09732;
    --tert-btn-h: #C07F26;
}

/* WIDGET RELOJ */
.clock {
    display: flex;
    aspect-ratio: 1;
    width: 100%;
    max-width: clamp(150px, 10vw, 200px);
    max-height: clamp(150px, 10vw, 200px);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    position: relative;
}

.clock label {
    position: absolute;
    inset: 5%;
    text-align: center;
    transform: rotate(calc(var(--i) * (360deg/12)));
}

.clock label span {
    display: inline-block;
    font-size: clamp(15px, 1.5vw, 20px);
    font-weight: 400;
    transform: rotate(calc(var(--i) * (-360deg/12)));
}

.indicator {
    position: absolute;
    height: 8%;
    width: 8%;
    display: flex;
    justify-content: center;
}

.indicator::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 100;
    background: red;
}

.indicator .hand {
    position: absolute;
    bottom: 0;
    border-radius: 25px;
    transform-origin: 50% 100%;
}

.indicator .hand.second {
    height: clamp(50px, 3.5vw, 50vw);
    width: 20%;
    transform-origin: 50% 95%;
    background: red;
}

.indicator .hand.minute {
    height: clamp(50px, 3.5vw, 50vw);
    width: 20%;
    transform-origin: 50% 95%;
    background: gray;
}

.indicator .hand.hour {
    height: clamp(35px, 2.5vw, 30vw);
    width: 20%;
    transform-origin: 50% 89%;
    background: black;
}

/* WIDGET CLIMA */
.weather-background {
    background: rgb(0, 212, 255);
    background: linear-gradient(0deg, rgba(0, 212, 255, 1) 0%, rgba(23, 23, 143, 1) 100%);
}

/* OTROS */
textarea {
    resize: none;
}

.modal-content {
    background: var(--nav-color);
}


@media (min-width: 768px) and (max-width: 991px) {
    .custom-margin {
        margin-left: 20%;
        margin-right: 0;
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .custom-margin {
        margin-left: 25%;
        margin-right: 0;
        max-width: 75%;
    }
}