header nav,
footer nav {
    background: var(--nav-color);
}

.prim-btn {
    background: var(--prim-btn-color);

}

.prim-btn:hover {
    background: var(--prim-btn-h);

}

.sec-btn {
    background: var(--sec-btn-color);

}

.sec-btn:hover {
    background: var(--sec-btn-h);
}

.tert-btn {
    background: var(--tert-btn-color);
}

.tert-btn:hover {
    background: var(--tert-btn-h);
}

.main-card {
    background: var(--nav-color);
}

body{
    --primary-color: #7B93B4;
    --nav-color: #9F9CAC;
    --prim-btn-color: #6A7D99;
    --prim-btn-h: #5A6C84;
    --sec-btn-color: #6A8AB9;
    --sec-btn-h: #5681A4;
    --tert-btn-color: #E09732;
    --tert-btn-h: #C07F26;
}

/* WIDGET RELOJ */
.clock {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    position: relative;
}

.clock label {
    position: absolute;
    inset: 10px;
    text-align: center;
    transform: rotate(calc(var(--i) * (360deg/12)));
}

.clock label span {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    transform: rotate(calc(var(--i) * (-360deg/12)));
}

.indicator {
    position: absolute;
    height: 12px;
    width: 12px;
    display: flex;
    justify-content: center;
}

.indicator::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 100;
    background: black;
    border: 8px solid red
}

.indicator .hand {
    position: absolute;
    height: 65px;
    width: 4px;
    bottom: 0;
    border-radius: 25px;
    transform-origin: 50% 100%;
    background: red;
}

.indicator .hand.second {
    height: 65px;
    width: 4px;
    transform-origin: 50% 95%;
}

.indicator .hand.minute {
    height: 58px;
    width: 5px;
    transform-origin: 50% 95%;
    background: gray;
}

.indicator .hand.hour {
    height: 45px;
    width: 6px;
    transform-origin: 50% 89%;
    background: black;
}

/* WIDGET CLIMA */
.weather-background {
    background: rgb(0, 212, 255);
    background: linear-gradient(0deg, rgba(0, 212, 255, 1) 0%, rgba(23, 23, 143, 1) 100%);
}

/* OTROS */
textarea {
    resize: none;
}