<div class="container text-light text-center pt-5 pb-5" style="margin-left: 22%;">

    <div class="row">

        <div class="container col-9 col-sm-11 col-md-9 col-lg-6">

            <div class="card main-card">
                <h4 class="text-white m-3">Escribir Nueva Nota</h4>
                <div class="card m-3">
                    <form [formGroup]="noteForm" (submit)="sumbit($event)">

                        <input type="text" class="form-control" placeholder="Titulo de la Nota" formControlName="title">

                        <textarea rows="5" class="form-control" placeholder="Descripción de la Nota"
                            formControlName="descrip"></textarea>
                        @if (creating) {
                        <button class="btn btn-success m-2" type="submit" [disabled]="!noteForm.valid">Crear
                            Nota</button>
                        }@else if(!creating) {
                        <button class="btn btn-warning m-2" type="submit" [disabled]="!noteForm.valid">Editar
                            Nota</button>
                        <button class="btn btn-danger m-2" (click)="cancelEditBtn()">Cancelar Edición</button>
                        }

                    </form>

                    <div class="toast-container position-fixed top-0">
                        <div id="outToast" class="toast" role="alert">
                            <div class="toast-body text-bg-danger">
                                <strong>Cerrando Sesión</strong>
                            </div>
                        </div>
                    </div>

                </div>
                <hr>
                <h3 class="text-white">Mis Notas</h3>
                <div class="card m-3 p-3" id="vistaNotas">

                    @if (!loadingNotes) {
                    @for (note of notesList; track $index) {
                    <div class="card border-3 shadow m-2 p-3">
                        <h4>{{note.titulo}}</h4>
                        <p>{{note.descripcion}}</p>

                        <div>
                            <button class="btn btn-warning m-1" (click)="editNoteBtn(note.id)">Editar</button>
                            <!-- Button Trigger modal -->
                            <button type="button" class="btn btn-danger m-1" data-bs-toggle="modal"
                                [attr.data-bs-target]="'#deleteModal' + note.id">
                                Borrar
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" [id]="'deleteModal' + note.id" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title text-white fs-5" id="exampleModalLabel">Borrar Nota
                                            </h1>
                                        </div>
                                        <div class="modal-body">
                                            <strong class="text-white">¿Seguro que quieres borrar la Nota
                                                "{{note.titulo}}"?</strong>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success m-2"
                                                (click)="deleteNote(note.id)" data-bs-dismiss="modal">Borrar
                                                Nota</button>
                                            <button type="button" class="btn btn-danger m-2"
                                                data-bs-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    }@else if (loadingNotes) {
                    <div class="card border-3 shadow m-2 p-3">
                        <div class="m-5">
                            <img src="/assets/loading.gif" alt="" width="200px" height="200px">
                            <H4>Cargando...</H4>
                        </div>
                    </div>
                    }

                </div>

            </div>

        </div>

        @if (configReloj || configClima) {
        <div class="container d-none d-lg-block col-md-3 col-lg-3" style="margin-right: 10vw;">
            <h4>Mis Widgets</h4>

            @if (configReloj) {
            <div class="card main-card m-2 pt-3 pb-4 align-items-center text-white">

                <h5>Reloj</h5>

                <div class="clock text-dark">

                    <label style="--i:1"><span>1</span></label>
                    <label style="--i:2"><span>2</span></label>
                    <label style="--i:3"><span>3</span></label>
                    <label style="--i:4"><span>4</span></label>
                    <label style="--i:5"><span>5</span></label>
                    <label style="--i:6"><span>6</span></label>
                    <label style="--i:7"><span>7</span></label>
                    <label style="--i:8"><span>8</span></label>
                    <label style="--i:9"><span>9</span></label>
                    <label style="--i:10"><span>10</span></label>
                    <label style="--i:11"><span>11</span></label>
                    <label style="--i:12"><span>12</span></label>

                    <div class="indicator">
                        <span class="hand hour" #hrHand></span>
                        <span class="hand minute" #minHand></span>
                        <span class="hand second" #secHand></span>
                    </div>

                </div>

            </div>
            }

            @if (configClima){
            <div class="card main-card m-3 pt-3 pb-1 text-white text-center">
                <h5>Clima</h5>
                @if(configCiudad == '' || configPais == ''){
                <p class=" m-2 p-3 text-white fs-6">*Para ver el Clima es necesario asignar una Ciudad y un País en Ajustes</p>
                }@else{
                @if (!loadingWeath) {
                <div class="card rounded-2 m-2 weather-background text-white">
                    <div class="m-3">
                        <img src="https://openweathermap.org/img/wn/{{weatherDetail.weather[0].icon}}@2x.png"
                            alt="Imagen" class="img-fluid" width="120px" height="120px">
                        <h1>{{convC}}°C</h1>
                        <h4>Humedad: {{weatherDetail.main.humidity}}%</h4>
                        <h5>Ciudad: {{weatherDetail.name}}</h5>
                        <h5>Pais: {{weatherDetail.sys.country}}</h5>
                    </div>

                </div>
                }@else if(loadingWeath) {
                <div class="card rounded-2 m-2 weather-background text-white">
                    <div class="m-5">
                        <img src="/assets/loading.gif" alt="" width="100px" height="100px">
                        <H4>Cargando...</H4>
                    </div>
                </div>
                }
                }



            </div>
            }


        </div>
        }

    </div>

</div>